[submodule "third_party/libdecomp"]
	path = third_party/libdecomp
	url = https://github.com/dmaivel/libdecomp.git
[submodule "third_party/Triton"]
	path = third_party/Triton
	url = https://github.com/JonathanSalwan/Triton.git
